<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameFinisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameFinisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameFinisher.Properties.Settings>
            <setting name="SteamID" serializeAs="String">
                <value />
            </setting>
            <setting name="GOGUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LastGameImport" serializeAs="String">
                <value />
            </setting>
        </GameFinisher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GameFinisher.Properties.Settings>
            <setting name="IGDBID" serializeAs="String">
                <value>zj3dihoaqe9ougkayckq6h7c31umqz</value>
            </setting>
            <setting name="IGDBSECRET" serializeAs="String">
                <value>uqmapybmo5di3lh0q1wua4s4dsyzkn</value>
            </setting>
        </GameFinisher.Properties.Settings>
    </applicationSettings>
</configuration>